import(Matrix) 
import(raster)
import(igraph) 
importFrom(methods, Ops, Arith, Compare, Logic)
exportClasses(Transition)
exportPattern("^[^\\.]")
exportMethods(initialize, show, coerce, Ops, Arith, Compare, Logic, "[", "[<-")